" Opt
set showmode
set incsearch
set so=0
set number
set relativenumber

" Plugins
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'

" Maps
let mapleader=" "

inoremap jk <Esc>

nmap <c-h> <c-w>h
nmap <c-l> <c-w>l
nmap <c-j> <c-w>j
nmap <c-k> <c-w>k

nmap [b :action PreviousTab<CR>
nmap ]b :action NextTab<CR>

nmap K :action QuickJavaDoc<CR>
nmap gd :action GotoDeclaration<CR>
nmap gD :action GotoTypeDeclaration<CR>
nmap gi :action GotoImplementation<CR>
nmap gr :action GotoDeclaration<CR>

nmap <leader>rn :action RenameElement<CR>
nmap <leader>ca :action ShowIntentionActions<CR>

nmap <leader>sf :action GotoFile<CR>
nmap <leader>z :action ToggleDistractionFreeMode<CR>

" Highlight on yank
let g:highlightedyank_highlight_duration = "200"
let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"

" Tree
nmap <leader>n :NERDTreeFocus<CR>

" Commands
command! Format action ReformatCode
