" Opt
set incsearch
set scrolloff=0
set number
set relativenumber
set clipboard+=unnamedplus
set ignorecase

" Plugins
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'

" Maps
let mapleader=" "
let maplocalleader=";"
inoremap jk <Esc>

nnoremap <leader>w <c-w>
nnoremap <localleader>r @:

nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

nnoremap <localleader><tab> za
nnoremap zz zb22<C-e>

nnoremap [b :action PreviousTab<CR>
nnoremap ]b :action NextTab<CR>

imap <M-l> <Action>(EditorChooseLookupItem)

nnoremap K :action QuickJavaDoc<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action GotoTypeDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action GotoDeclaration<CR>

nnoremap <leader>lr :action RenameElement<CR>
nnoremap <leader>lf :action ReformatCode<CR>
nnoremap <leader>la :action ShowIntentionActions<CR>

nnoremap <leader>ff :action SearchEverywhere<CR>
nnoremap <leader>z :action ToggleDistractionFreeMode<CR>

nnoremap s /
nnoremap S ?
nnoremap cc ddO

" Highlight on yank
let g:highlightedyank_highlight_duration = "350"
let g:highlightedyank_highlight_color = "rgb(42,40,62)"

" Tree
nnoremap <leader>n :NERDTreeToggle<CR>

command! Run1 action Run
command! Run2 action android.deploy.ApplyChanges
command! Run3 action android.deploy.CodeSwap
