" Opt
set incsearch
set scrolloff=0
set number
set relativenumber
set clipboard+=unnamedplus
set ignorecase
set ideajoin
set hidden

" Plugins
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'

" Maps
let mapleader=" "
let maplocalleader=";"
inoremap jk <Esc>

nnoremap <leader>w <c-w>
nnoremap <leader>wn <c-w>v :action GotoFile<CR>
nnoremap ;r :Make<CR>
nnoremap ;a :action android.deploy.CodeSwap<CR>
nnoremap 0 ^
vnoremap 0 ^

nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

nnoremap <localleader><tab> za
nnoremap zz zb22<C-e>

nnoremap [b :action PreviousTab<CR>
nnoremap ]b :action NextTab<CR>

" imap <M-l> <Action>(EditorChooseLookupItem)
" imap <M-l> <Action>(copilot.applyInlays)

nnoremap K :action QuickJavaDoc<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action GotoTypeDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action GotoDeclaration<CR>
nnoremap gp :action QuickImplementations<CR>
nnoremap gu :action GotoSuperMethod<CR>
nnoremap yoh :action ToggleInlayHintsGloballyAction<CR>

nnoremap <leader>lr :action RenameElement<CR>
nnoremap <leader>lf :action ReformatCode<CR>
xnoremap <leader>lf :action ReformatCode<CR>
nnoremap <leader>la :action ShowIntentionActions<CR>
xnoremap <leader>la :action ShowIntentionActions<CR>
nnoremap <leader>lD :action GotoNextError<CR>
nnoremap <leader>lc :action RiderShowIncomingCalls<CR>
inoremap <C-k> <Esc>:action ParameterInfo<CR>a

nnoremap co :action GitConflict.Operation.CurrentChange<CR>
nnoremap ct :action GitConflict.Operation.IncomingChange<CR>
nnoremap cb :action GitConflict.Operation.BothChanges<CR>
nnoremap yoc :action GitConflict.Highlight<CR>

nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>sp :action FindInPath<CR>
" nnoremap <leader>sp :action TextSearchAction<CR>

nnoremap <leader>z :action ToggleDistractionFreeMode<CR>

nnoremap Y y$
nnoremap s /
nnoremap S ?
nnoremap cc ddO
nnoremap <localleader><Tab> :action CollapseSelection<CR>


nnoremap <D-j> 5j
nnoremap <D-k> 5k
nnoremap <M-j> 5j
nnoremap <M-k> 5k

" Highlight on yank
let g:highlightedyank_highlight_duration = "350"
let g:highlightedyank_highlight_color = "rgba(42, 40, 62, 255)"

" Terminal
nnoremap <leader>m :action ActivateTerminalToolWindow<CR>

" Tree
nnoremap <leader>n :NERDTreeFocus<CR>
nnoremap <leader>N :NERDTreeFind<CR>

command! Make action Run
" command! Run2 action android.deploy.ApplyChanges
" command! Run3 action android.deploy.CodeSwap

" Simulate vim-commentary
" A work around when before ideavim v2.0.0 in Rider
" https://youtrack.jetbrains.com/issue/VIM-1758?_gl=1*12r3r7p*_ga*OTcxMDU4NTUxLjE2NDgxMDk4MTM.*_ga_9J976DJZ68*MTY2ODM0MDE2NS4yNy4xLjE2NjgzNDA2OTguMC4wLjA.&_ga=2.146329971.637471792.1668329819-971058551.1648109813
" https://youtrack.jetbrains.com/issue/RIDER-38359
" nnoremap gcc :action CommentByLineComment<CR>
" xnoremap gc :action CommentByLineComment<CR>
