[user]
	name = ikws4
	email = zhipingne@gmail.com
[core]
	autocrlf = input
	excludesfile = /Users/zhipingyu/.gitignore_global
	editor = nvim
	pager = less
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[merge]
	conflictstyle = diff3
[init]
	defaultBranch = main
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/zhipingyu/.stCommitMsg
[pull]
	rebase = true
