[user]
	name = ikws4
	email = zhipingne@gmail.com
[core]
	autocrlf = input
	excludesfile = /Users/zhipingne/.gitignore_global
	editor = nvim
	pager = cat
    [filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/zhipingne/.stCommitMsg
[color]
	ui = auto
[merge]
	conflictstyle = diff3
[http]
    proxy = socks5://127.0.0.1:7891
